# --- Database ---
db.sqlite3

# --- Environment & Rahasia (PENTING) ---
.env
env/
venv/
.venv/

# --- Python Cache (Sampah Python) ---
__pycache__/
*.pyc
*.pyo

# --- Log files (Dari Branch Main) ---
*.log

# --- Operating System files (Dari Branch Main) ---
.DS_Store
Thumbs.db

# --- Media User (Dari Fitur Kamu) ---
# Folder ini berisi foto profil user, jangan di-upload ke GitHub
media/