{% extends "base.html" %}
{% load widget_tweaks %} 

{% block content %}
<div class="container my-5">
    <div class="row d-flex justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5">
            <div class="card shadow-lg p-4 p-md-5 border-0">
                <h2 class="card-title text-center mb-4">Daftar Akun Baru</h2>
                <p class="text-center text-muted mb-4">Silakan isi detail akun Anda.</p>

                <form method="post">
                    {% csrf_token %}

                    {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field | add_class:"form-control" }}
                        {% for error in field.errors %}
                            <div class="text-danger small mt-1">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-success w-100 py-2 mt-3">Daftar</button>
                </form>

                <div class="text-center mt-4">
                    <small class="text-muted">
                        Sudah punya akun? <a href="{% url 'login' %}" style="font-weight: bold;">Masuk di sini</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}