{% extends 'users/base.html' %}

{% block content %}
    <h2>Daftar Akun Baru</h2>
    <form method="POST">
        {% csrf_token %}
        <label>Username</label>
        <input type="text" name="username" required>

        <label>Nama Tampilan</label>
        <input type="text" name="display_name" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Daftar</button>
    </form>
    <p style="text-align: center; margin-top: 15px;">
        Sudah punya akun? <a href="{% url 'login' %}">Login di sini</a>
    </p>
{% endblock %}